.chooseYourFavoriteContainer {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.04em;
  line-height: 116.6%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
}
.offerSneakPeeks {
  width: 518px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 185.1%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.offerSneakPeeksAndPreviewsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-base);
  font-family: var(--font-lato);
}
.chooseYourFavoriteGamesParent {
  width: 718px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-47xl);
  color: var(--color-white);
  font-family: var(--font-ondo);
}
.ciTestGamingInner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-2xl-9);
  box-sizing: border-box;
  max-width: 100%;
}
@media screen and (max-width: 800px) {
  .chooseYourFavoriteContainer {
    font-size: var(--font-size-34xl);
    line-height: 62px;
  }
}
@media screen and (max-width: 450px) {
  .chooseYourFavoriteContainer {
    font-size: var(--font-size-21xl);
    line-height: 46px;
  }
}
