.previewImageIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 11.22px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  debug_commit: 733fc2c;
  z-index: 1;
}
.previewImageWrapper {
  margin-left: -481.1000000000003px;
  height: 405.3px;
  width: 451.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-19xl-3);
  box-sizing: border-box;
  max-width: 100%;
}
.groupIcon,
.groupIcon1,
.groupIcon2,
.groupIcon3 {
  position: absolute;
  top: 195.8px;
  left: 693.9px;
  width: 14.5px;
  height: 154.5px;
  z-index: 1;
}
.groupIcon1,
.groupIcon2,
.groupIcon3 {
  left: 0;
}
.groupIcon2,
.groupIcon3 {
  top: 39.1px;
  left: 222.8px;
  width: 124.5px;
  height: 15.4px;
}
.groupIcon3 {
  left: 359.4px;
}
.vectorIcon {
  display: none;
}
.groupIcon4,
.vectorIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.groupIcon5 {
  position: absolute;
  top: 12.6px;
  left: 631.8px;
  width: 13.1px;
  height: 98.3px;
  z-index: 2;
}
.groupIcon6,
.groupIcon7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.groupIcon7 {
  top: 367px;
  left: 166.2px;
  width: 291.9px;
  height: 0.6px;
  z-index: 4;
}
.groupIcon8,
.groupParent {
  position: absolute;
  top: 12.6px;
}
.groupParent {
  height: calc(100% - 25.6px);
  bottom: 13px;
  left: 16px;
  width: 621.9px;
}
.groupIcon8 {
  left: 13.9px;
  width: 13.1px;
  height: 98.3px;
  z-index: 4;
}
.iconDetails {
  position: absolute;
  height: calc(100% - 23.7px);
  top: 11.8px;
  bottom: 11.9px;
  left: 15.7px;
  width: 658.8px;
}
.previewGraphicIcon,
.vectorIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.previewGraphicIcon {
  z-index: 4;
}
.vectorIcon1 {
  object-fit: cover;
  display: none;
}
.sneakPeeks {
  position: absolute;
  top: 4.8px;
  left: 45.7px;
  font-size: var(--font-size-9xl-1);
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: uppercase;
  font-family: var(--font-ondo);
  color: var(--color-white);
  text-align: left;
  z-index: 7;
}
.vectorGroup {
  position: absolute;
  top: 2.4px;
  left: 9.1px;
  width: 308.6px;
  height: 40.6px;
  background-image: url(/public/vector@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  white-space: nowrap;
  z-index: 5;
}
.previewImage {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 398.5px;
  left: 178.4px;
  width: 327px;
  height: 43px;
}
.previewGraphicIcon1,
.previewGraphicIcon2 {
  position: absolute;
  top: 116.1px;
  left: 12px;
  width: 7.3px;
  height: 207.3px;
  z-index: 2;
}
.previewGraphicIcon2 {
  top: 5.7px;
  left: 670.8px;
  width: 7.4px;
  height: 135.8px;
}
.vectorParent {
  position: absolute;
  width: calc(100% - 18.2px);
  top: 48.8px;
  right: 8.7px;
  left: 9.5px;
  height: 441.6px;
  background-image: url(/public/vector@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.galleryIcons,
.galleryIcons1 {
  position: absolute;
  top: 45.1px;
  left: 464.4px;
  width: 135.8px;
  height: 7.4px;
  z-index: 2;
}
.galleryIcons1 {
  top: 486.6px;
  left: 273.5px;
  z-index: 6;
}
.frameIcon,
.groupIcon9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.frameIcon {
  top: 25.8px;
  left: 22.9px;
  width: 32.5px;
  height: 24.8px;
  overflow: hidden;
  object-fit: cover;
  z-index: 7;
}
.groupGroup {
  position: absolute;
  top: 0;
  left: 315.2px;
  width: 78.1px;
  height: 78.1px;
}
.progressBar {
  height: 494px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.frameChild,
.group {
  flex-shrink: 0;
  debug_commit: 733fc2c;
}
.group {
  width: 708.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameChild {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 11.22px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.visualGallery,
.visualGalleryInner {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.visualGalleryInner {
  height: 405.3px;
  width: 451.1px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-19xl-3);
}
.visualGallery {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-346xl-1) var(--padding-12xl-8);
  gap: var(--gap-11xl-1);
}
@media screen and (max-width: 1350px) {
  .visualGallery {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: var(--padding-163xl);
    padding-right: var(--padding-163xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .visualGallery {
    gap: var(--gap-mini);
    padding-left: var(--padding-72xl);
    padding-right: var(--padding-72xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .visualGallery {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
