@import url("https://fonts.googleapis.com/css2?family=Ondo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-lato: Lato;
  --font-ondo: Ondo;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-20xl-8: 39.8px;
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;
  --font-size-11xl: 30px;
  --font-size-mini-6: 14.6px;
  --font-size-xs-6: 11.6px;
  --font-size-2xl: 21px;
  --font-size-mid: 17px;
  --font-size-18xl: 37px;
  --font-size-3xl: 22px;
  --font-size-3xs: 10px;
  --font-size-lgi: 19px;
  --font-size-47xl: 66px;
  --font-size-34xl: 53px;
  --font-size-21xl: 40px;
  --font-size-xl: 20px;
  --font-size-9xl-1: 28.1px;
  --font-size-lg-7: 18.7px;
  --font-size-49xl-9: 68.9px;
  --font-size-36xl: 55px;
  --font-size-22xl: 41px;

  /* Colors */
  --color-white: #fff;
  --color-mediumvioletred-100: #ef0abd;
  --color-mediumvioletred-200: #dd00b8;

  /* Gaps */
  --gap-xl: 20px;
  --gap-7xl: 26px;
  --gap-13xl: 32px;
  --gap-102xl: 121px;
  --gap-41xl: 60px;
  --gap-11xl: 30px;
  --gap-57xl: 76px;
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-14xl-3: 33.3px;
  --gap-mid: 17px;
  --gap-32xl: 51px;
  --gap-6xl: 25px;
  --gap-sm: 14px;
  --gap-lg: 18px;
  --gap-12xl: 31px;
  --gap-mini: 15px;
  --gap-10xl: 29px;
  --gap-9xs: 4px;
  --gap-xs-7: 11.7px;
  --gap-3xs-6: 9.6px;
  --gap-8xs: 5px;
  --gap-43xl-9: 62.9px;
  --gap-base: 16px;
  --gap-mid-3: 17.3px;
  --gap-3xl-2: 22.2px;
  --gap-3xl-3: 22.3px;
  --gap-21xl: 40px;
  --gap-3xs: 10px;
  --gap-5xs: 8px;
  --gap-xs: 12px;
  --gap-11xl-1: 30.1px;
  --gap-31xl-8: 50.8px;
  --gap-12xl-3: 31.3px;

  /* Paddings */
  --padding-28xl: 47px;
  --padding-xl: 20px;
  --padding-9xs-3: 3.3px;
  --padding-49xl: 68px;
  --padding-49xl-3: 68.3px;
  --padding-8xl: 27px;
  --padding-12xs: 1px;
  --padding-6xl: 25px;
  --padding-10xs-8: 2.8px;
  --padding-39xl: 58px;
  --padding-17xl: 36px;
  --padding-14xl-3: 33.3px;
  --padding-19xl: 38px;
  --padding-3xl: 22px;
  --padding-8xs-2: 4.2px;
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-9xs-7: 3.7px;
  --padding-8xs-7: 4.7px;
  --padding-11xs-2: 1.2px;
  --padding-4xl: 23px;
  --padding-lg: 18px;
  --padding-27xl: 46px;
  --padding-11xl: 30px;
  --padding-base-2: 15.2px;
  --padding-base-1: 15.1px;
  --padding-6xs: 7px;
  --padding-9xs: 4px;
  --padding-mid: 17px;
  --padding-14xl: 33px;
  --padding-7xl: 26px;
  --padding-346xl-1: 365.1px;
  --padding-72xl: 91px;
  --padding-163xl: 182px;
  --padding-19xl-3: 38.3px;
  --padding-2xl-9: 21.9px;
  --padding-10xs: 3px;
  --padding-11xl-5: 30.5px;
  --padding-9xl: 28px;
  --padding-xs: 12px;
  --padding-smi-5: 12.5px;
  --padding-45xl: 64px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-xs-2: 11.2px;
}
